
/* ICON ARROW-UP */
.icon__arrow-up {
    align-self: center;
}
   
/* DESKTOP */
@media screen and (min-width: 1024px) {

    .section__wrapper {
        flex-direction: row;
        width: 70%;
    }
}






